[submodule "Ezzoo/vendor/spdlog"]
	path = Ezzoo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ezzoo/vendor/Ezzoo\\vendor\\GLFW"]
	path = Ezzoo/vendor/Ezzoo\\vendor\\GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Ezzoo\\vendor\\ImGui"]
	path = Ezzoo\\vendor\\ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Ezzoo/vendor/ImGUI"]
	path = Ezzoo/vendor/ImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "Ezzoo/vendor/IamGui"]
	path = Ezzoo/vendor/IamGui
	url = https://github.com/ocornut/imgui.git
