[submodule "Ezzoo/vendor/spdlog"]
	path = Ezzoo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ezzoo/vendor/Ezzoo\\vendor\\GLFW"]
	path = Ezzoo/vendor/Ezzoo\\vendor\\GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Ezzoo/vendor/glm"]
	path = Ezzoo/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Ezzoo/vendor/imgui"]
	path = Ezzoo/vendor/imgui
	url = https://github.com/ocornut/imgui.git

